<!DOCTYPE html>
<html lang="en">

<head>
  <title>阴阳师 - 悬赏封印小工具</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="bootstrap-select/dist/css/bootstrap-select.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="bootstrap-select/dist/js/bootstrap-select.js"></script>
  <link rel="stylesheet" href="assets/css/app.css">

  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon//apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon//apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon//apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon//apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon//apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon//apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon//apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon//apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon//android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon//favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon//favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon//favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/favicon//ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div id="app">
    <div class="header">
      <h1>悬赏封印任务小工具</h1>
      <p>选择任务所要击杀的式神，如果不知道式神名字，可以按线索搜索。</p>
    </div>
    <select id="select1" class="selectpicker" data-live-search="true">
      <option selected value> -- 请选择一位式神 -- </option>
      <optgroup label="N卡">
        <option v-for="item in Nka">
          <template v-if="item.clue === undefined">
            {{ item.name }}
          </template>
          <template v-else>
            {{ item.name }}  ( 线索: {{item.clue}} )
          </template>
        </option>
      </optgroup>
      <optgroup label="R卡">
        <option v-for="item in Rka">
          <template v-if="item.clue === undefined">
            {{ item.name }}
          </template>
          <template v-else>
            {{ item.name }}  ( 线索: {{item.clue}} )
          </template>
        </option>
      </optgroup>
      <optgroup label="SR卡">
        <option v-for="item in SRka">
          <template v-if="item.clue === undefined">
            {{ item.name }}
          </template>
          <template v-else>
            {{ item.name }}  ( 线索: {{item.clue}} )
          </template>
        </option>
      </optgroup>
    <optgroup label="SSR卡">
      <option v-for="item in SSRka">
        <template v-if="item.clue === undefined">
          {{ item.name }}
        </template>
        <template v-else>
          {{ item.name }}  ( 线索: {{item.clue}} )
        </template>
      </option>
    </optgroup>
  </select>
    <select id="select2" class="selectpicker" data-live-search="true">
    <option selected value> -- 请选择一位式神 -- </option>
    <optgroup label="N卡">
      <option v-for="item in Nka">
        <template v-if="item.clue === undefined">
          {{ item.name }}
        </template>
        <template v-else>
          {{ item.name }}  ( 线索: {{item.clue}} )
        </template>
      </option>
    </optgroup>
    <optgroup label="R卡">
      <option v-for="item in Rka">
        <template v-if="item.clue === undefined">
          {{ item.name }}
        </template>
        <template v-else>
          {{ item.name }}  ( 线索: {{item.clue}} )
        </template>
      </option>
    </optgroup>
    <optgroup label="SR卡">
      <option v-for="item in SRka">
        <template v-if="item.clue === undefined">
          {{ item.name }}
        </template>
        <template v-else>
          {{ item.name }}  ( 线索: {{item.clue}} )
        </template>
      </option>
    </optgroup>
  <optgroup label="SSR卡">
    <option v-for="item in SSRka">
      <template v-if="item.clue === undefined">
        {{ item.name }}
      </template>
      <template v-else>
        {{ item.name }}  ( 线索: {{item.clue}} )
      </template>
    </option>
  </optgroup>
</select>
  <select id="select3" class="selectpicker" data-live-search="true">
  <option selected value> -- 请选择一位式神 -- </option>
  <optgroup label="N卡">
    <option v-for="item in Nka">
      <template v-if="item.clue === undefined">
        {{ item.name }}
      </template>
      <template v-else>
        {{ item.name }}  ( 线索: {{item.clue}} )
      </template>
    </option>
  </optgroup>
  <optgroup label="R卡">
    <option v-for="item in Rka">
      <template v-if="item.clue === undefined">
        {{ item.name }}
      </template>
      <template v-else>
        {{ item.name }}  ( 线索: {{item.clue}} )
      </template>
    </option>
  </optgroup>
  <optgroup label="SR卡">
    <option v-for="item in SRka">
      <template v-if="item.clue === undefined">
        {{ item.name }}
      </template>
      <template v-else>
        {{ item.name }}  ( 线索: {{item.clue}} )
      </template>
    </option>
  </optgroup>
<optgroup label="SSR卡">
  <option v-for="item in SSRka">
    <template v-if="item.clue === undefined">
      {{ item.name }}
    </template>
    <template v-else>
      {{ item.name }}  ( 线索: {{item.clue}} )
    </template>
  </option>
</optgroup>
</select>
</div>
  <div id="levelinfo">
  </div>
</body>

<script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
<script src="js/selectdata.js"></script>
<script src="js/level.js"></script>
<script src="js/app.js"></script>
<script>


</script>

</html>
