body {
  padding-top: 1em;
  margin: auto;
  text-align: center;
}
.header {
  margin: 0 10px 0 10px;
}
#app {
  margin: auto;
  max-width: 960px;
}
#levelinfo p{
  color: #c1212c
}

#app .bootstrap-select{
  width:33%;
}
@media screen and (max-width: 540px) {
  #app .bootstrap-select {
    width:75%;
  }
  h1{
    font-size: 250%;
  }
  h4 {
    font-size: 180%;
  }
  p {
    font-size:140%;
  }
}

#levelinfo {

}
